*{
    color: purple;
}
p{
    color:blue;
}
.alert-text{
    color:red;
}
#title{
    background-color: red;
}
.read{
    color: rgb(69, 108, 216);
    background-color: black;
    /* several unique declarations */
  }
  
.unread{
    color: rgb(177, 123, 52);
    background-color: black;
    /* several unique declarations */
  }